build/
styles/
rules/
**/*.final.md
.vs/*
config.yml
.vscode/settings.json
.DS_Store
.idea/
.aider*
# Ignore all .vale.ini files anywhere in the repo
**/.vale.ini

# Ignore all .markdownlint.json files anywhere in the repo
**/.markdownlint.json

# Ignore all files inside the 'styles' folder
styles/*

# Ignore all files inside the '.vscode' folder
.vscode/*
# Ignore all mcp.json files anywhere in the repo
**/mcp.json
